.resoult__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 64px 0;
  transition: all .2s ease;
}

@media screen and (max-width: 730px) {
  .resoult__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
