@import url('./_active/header__link_active.css');

.header__link {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .header__link {
        margin: 32px 16px;
    }
}