.header__button-burger {
    display: none;
    width: 24px;
    height: 24px;
    align-self: center;
}

@media screen and (max-width: 500px) {
    .header__button-burger {
        display: flex;
    }
}