.resoult__show-more {
  background-color: #ffffff;
  border-radius: 80px;
  height: 64px;
  width: 288px;
  border: none;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
  align-self: center;
}

.resoult__show-more:hover {
  cursor: pointer;
}