.search {
  margin: 0;
  padding: 0;
  background-image: url("../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
