.header__links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 666px) {
  .header__links {
    border-top: 1px solid hsla(0, 0%, 100%, 0.2);
    flex-direction: column;
  }
}
