.resoult__card {
  width: 400px;
  padding: 0;
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  margin: 8px;
}

.resoult__card:hover {
  cursor: pointer;
}

@media screen and (max-width: 1410px) {
    .resoult__card {
      width: 300px;
    }
  }

@media screen and (max-width: 1100px) {
  .resoult__card {
    width: 224px;
    margin: 0 8px 8px 0;
  }
}

@media screen and (max-width: 499px) {
  .resoult__card {
    width: 288px;
    margin-right: 0;
  }
}