@media screen and (max-width: 666px) {
  .header__burger-param {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }
}
