.footer__text-links {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .footer__text-links {
        padding: 0;
    }   
}

@media screen and (max-width: 600px) {
    .footer__text-links {
        flex-direction: column;
    }
}