@import url("./vendor/fonts.css");
@import url("./blocks/header/header.css");
@import url("./blocks/search/search.css");
@import url("./blocks/resoult/resoult.css");
@import url("./blocks/about/about.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/active/active.css");

body {
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  opacity: 1;
  transition: all .2s ease-in;
}

a:hover {
  opacity: .7;
}