.about__avatar {
  height: 460px;
  width: 460px;
  border-radius: 50%;
  align-self: center;
}

@media screen and (max-width: 1100px) {
  .about__avatar {
    height: 232px;
    width: 232px;
  }
}

@media screen and (max-width: 642px) {
  .about__avatar {
    height: 272px;
    width: 272px;
  }
}
