@import url("./__parameters/header__parameters.css");
@import url("./__link/header__link.css");
@import url("./__links/header__links.css");
@import url("./__title/header__title.css");
@import url("./__content/header__content.css");
@import url("./__home-link/header__home-link.css");
@import url("./__authorization-button/header__authorization-button.css");
@import url("./__button-burger/header__button-burger.css");

.header {
  position: absolute;
  z-index: 5;
  height: 80px;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  display: flex;
  border-bottom: solid rgba(255, 255, 255, 0.2) 1px;
}

@media screen and (max-width: 1024px) {
  .header {
    height: 66px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 56px;
  }
}
